{% extends "index.html" %}

{% block content %}
    <h1>Detail Post "{{post.title}}"</h1>
    <hr>
    <strong>Title: {{ post.title }}</strong>
    <p>Description: {{ post.description }}</p>
    <p>Date of Creation: {{ post.created_at }}</p>
    {% if post.image %}
        <img src="{{post.image.url}}"> 
    {% endif %}
    <hr>
    <a href="{% url 'update_post' post.pk %}" class="btn btn-primary">Edit</a>
    <a href="{% url 'delete_post' post.pk %}" class="btn btn-danger">Delete</a>
    <a href="{% url 'add_comment' post.pk %}" class="btn btn-secondary">Add comment</a>
    <hr>
    {% if post.comments.all %}
        <h4>Comments:</h4>
        {% for comment in post.comments.all %}
        <p>{{comment.description}} - {{comment.created_at}}</p>
        <hr>
        {% endfor %}
    {% endif %}
{% endblock %}